*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1DBBF;
}
/* nav styling */

.nav-container{
    height: 5rem;
    display: flex;
    /* flex direction will be defaultly in row always make a habit to give this property name and value */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #698269;
    color: #F1DBBF;
    margin-bottom: 1rem;
    
}
.nav-text{
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 2rem;
}
.nav-links{
    text-transform: uppercase;
    list-style-type: none;
    display:flex;
    /* flex direction will be defaultly in row always make a habit to give this property name and value */
    flex-direction: row;
    /* you see here justify-content wont'be work because it's all inline element
     so we use GAP property to make space between links*/
    justify-content: space-between;
    gap:3rem;
    margin-right: 2rem;
}

/* header styling */

.header-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin:0px 9rem;
}

.image{
    border-radius: 2rem;
    border: 5px solid #698269;
    max-width: 100%;
    height: 30rem;
}

.header-text-container{
display: flex;
flex-direction: column;
align-content:space-between;
gap: 3rem;
color: #AA5656;
font-size: 2rem;
text-align: center;
}

/* styling font-awesome social links */

.font-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
    gap: 4rem;
    list-style-type: none;
    margin-right: 9rem;
}
.link{
font-size: 3rem;
color: #AA5656;
}